# Ignore VS Code settings
.vscode/

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore OS system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore node_modules for Node.js projects
node_modules/
